<html><head>
    <title>icehongssii</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/icepersimmon.png') }}" type="image/x-icon"> 
    <meta charset="utf-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


<meta name="description" content="저쩌구 테스트">
<meta property="og:description" content="저쩌구 프로퍼티">

<meta name="author" content="">




<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <link rel="alternate" type="application/rss+xml" title="icehongssii" href="/feed.xml">
</head>


<body>
    <header>
        <div class="container">
            <div class="site-info">
                <a href="/" class="site-title">icehongssii</a>
                <p class="site-description">site-description</p>
            </div>

            <div class="grower"></div>

            <nav class="site-nav">
                <a href="/readings"><img src="{{ url_for('static', filename='assets/monster.svg') }}"></a>
                <p>READING</p>
            </nav>
            <nav class="site-nav">
                <a href="/about"><img src="{{ url_for('static', filename='assets/sun.svg') }}"></a>
                <p>ABOUT</p>
            </nav>
            <nav class="site-nav">
                <a href="/tags"><img src="{{ url_for('static', filename='assets/cloud.svg') }}"></a>
                <p>TAGS</p>
            </nav>
        </div>
    </header>

    <div id="main" role="main" class="container">
<div class="posts">

 <div class="year">
    <h1>2024년</h1>
    <span>{{cnt}}개의 글</span> 
</div>
<!-- for post in site.posts -->

     {% for post in posts %}
        <div class="post-info">
            <div class="entry">
                <a href="{{ post.url }}">
                {{ post.name }}
                </a>
            </div>
        </div>
        {% endfor %}
        

<!-- Post list-->

<div class="year">
    <h1>2023년</h1>
    <span>{{cnt}}개의 글</span> 
</div>

<!-- for post in site.posts -->

{% for post in posts %}
<div class="post-info">
    <div class="entry">
        <a href="{{ post.url }}">
        {{ post.name }}
        </a>
    </div>
</div>
{% endfor %}


<!-- Post list-->
</div>



<!-- Pagination links -->
<!-- Pagination links -->
    </div>

    <footer>
        <div class="container">
            <p><a href="mailto:icehongssii@gmail.com">icehongssii@gmail.com</a></p>
            <p><a href="https://github.com/icehongssii">GitHub @icehongssii</a></p>
            <p><a href="https://twitter.com/icehongssii">Twitter @icehongssii</a></p>
        </div>
    </footer>

    
	<!-- Google Analytics -->
	<!-- End Google Analytics -->





</body></html>