<html><head>
    <title>icehongssii</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/icepersimmon.png') }}" type="image/x-icon"> 
    <meta charset="utf-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


<meta name="description" content="저쩌구 테스트">
<meta property="og:description" content="저쩌구 프로퍼티">

<meta name="author" content="">




<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <link rel="alternate" type="application/rss+xml" title="icehongssii" href="/feed.xml">
</head>


<body>
    <div id="MathJax_Message" style="display: none;"></div>
    <header>
        <div class="container">
            <div class="site-info">
                <a href="/" class="site-title">icehongssii</a>
                <p class="site-description">site-description</p>
            </div>

            <div class="grower"></div>

            <nav class="site-nav">
                <a href="/readings"><img src="{{ url_for('static', filename='assets/monster.svg') }}"></a>
                <p>READING</p>
            </nav>
            <nav class="site-nav">
                <a href="/about"><img src="{{ url_for('static', filename='assets/sun.svg') }}"></a>
                <p>ABOUT</p>
            </nav>
            <nav class="site-nav">
                <a href="/tags"><img src="{{ url_for('static', filename='assets/cloud.svg') }}"></a>
                <p>TAGS</p>
            </nav>
        </div>
    </header>


    <div id="main" role="main" class="container">
        <article class="post-page">
    <h1 class='title'>김치찌개</h1>

    <div class="date">
        {{meta.created}}
    </div>
    <div class="date">
        {{meta.last_updated}}
    </div>

    
    <div class='meta-information'>
        <table>
            
            
            <tr>
                <td>제작기간</td>
                <td>2022년 07월 02일 ~ 08월 02일</td>
            </tr>
            
            
            
            <tr>
                <td>태그</td>
                <td>                    
                    <a href='/about/#CPP'><span>CPP</span></a>                    
                    <a href='/about/#Project'><span>Project</span></a>                    
                </td>
            </tr>
            
            
            
            <tr>
                <td>GitHub</td>
                <td>
                    <a href=https://github.com/viyamKUN/shooting-game target="_blank"><img src="/assets/small-git.png" class='small-icon'>
</a>
                </td>
            </tr>
            
        </table>
    </div>
    

    <div class="entry">
        {{html|safe}}

    </div>


    <div>
    <center>
        <img src="{{ url_for('static', filename='assets/icepersimmon.png') }}" class='my-icon'>
    </center>
</div>

    


    
</article>


    </div>

    <footer>
        <div class="container">
            <p><a href="mailto:icehongssii@gmail.com">icehongssii@gmail.com</a></p>
            <p><a href="https://github.com/icehongssii">GitHub @icehongssii</a></p>
            <p><a href="https://twitter.com/icehongssii">Twitter @icehongssii</a></p>
        </div>
    </footer>

    
	<!-- Google Analytics -->
	<!-- End Google Analytics -->





</body></html>
